@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .sur-su-bg-polytech {
    background: linear-gradient(278.7deg, #ffa616 2.7%, #f70707 77.5%);
  }
  .sur-su-bg-sec-medic {
    background: linear-gradient(278.7deg, #85b3f8 2.7%, #11ead8 77.5%);
  }
  .sur-su-bg-human {
    background: linear-gradient(278.7deg, #f75ab0 2.7%, #9c40ff 59.02%);
  }
  .sur-su-bg-natural-tech {
    background: linear-gradient(278.7deg, #873807 2.7%, #f75009 77.5%);
  }
  .sur-su-bg-medic {
    background: linear-gradient(278.7deg, #f9ed72 2.7%, #1c830f 77.5%);
  }
  .sur-su-bg-state-law {
    background: linear-gradient(278.7deg, #40bad6 2.7%, #123da9 96.46%);
  }
  .sur-su-bg-economic {
    background: linear-gradient(278.7deg, #ffbe68 2.7%, #f0d019 77.5%);
  }
}
:root {
  --font-primary: var(--font-avenir-next);
  --font-secondary: var(--font-open-sans);
  --font-third: var(--font-montserrat);

  /* Основные фирменные цвета */
  --sur-primary-blue: #1143c0; /* RGB 17 67 192 */
  --sur-primary-green: #0d9739; /* RGB 13 151 57 */

  /* Дополнительные цвета */
  --sur-accent-teal: #34c7b7; /* RGB 52 199 183 */
  --sur-accent-purple: #784cc3; /* RGB 120 76 195 */
  --sur-accent-yellow: #f5c64c; /* RGB 245 198 76 */
  --sur-accent-pink: #e0467e; /* RGB 224 70 126 */
  --sur-accent-red: #ff0000; /* RGB 255 0 0 */
  --sur-accent-sky: #9abcf9; /* RGB 154 188 249 */
  --sur-accent-orange: #ea7a57; /* RGB 234 122 87 */
  --sur-black: #000000;
  --sur-header-section--white: white;
  --sur-header-section--black: #323030;
  --sur-sections-dark: #27272c;
  --sur-section-white: #f2f6ff;
  --sur-footer-dark: #292a2d;
  --background: #f2f6ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f6ff;
    --foreground: #ededed;
    /* Для тёмной темы можно адаптировать цвета (пример): */
    --sur-primary-blue: #2a5fd6;
    --sur-primary-green: #1aa84a;
  }
}

body {
  font-family: "Montserrat", "Montserrat Fallback";
  color: var(--foreground);
  font-size: 18px;
  background: var(--background);
  line-height: normal;
}
.carousel-container {
  padding: 40px 0;
}
.sur-su-border-linear {
  background: linear-gradient(#fff8fb, #fff8fb) padding-box,
    linear-gradient(to right, #1447ff, #15d315) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  font-style: italic;
}
.slick-slide {
  padding: 0 10px;
}

.company-logo {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0 10px;
  transition: transform 0.3s;
}

.company-logo:hover {
  transform: scale(1.05);
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-prev {
  position: absolute !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  left: 20px !important;
  bottom: 0;
  top: 170px !important;
  z-index: 50 !important;
  cursor: pointer !important;
}
.slick-disabled {
  border: 1px solid #7c7f85 !important;
  opacity: 1 !important;
}
.slick-next {
  position: absolute !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  right: 20 !important;
  top: 170px !important;
  z-index: 50 !important;
  cursor: pointer !important;
}
.slick-next::before {
  content: "" !important;
}
.slick-prev::before {
  content: "" !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.2s ease-out forwards;
}

.not-found {
  background: url("../public/notfound-bg.png");
}
